<th:block>
    <div class="container">
        <form class="form-signin mt-xl-5" th:method="POST" th:action="@{/login}">
            <h2 class="form-signin-heading">Sign In</h2>
            <p>
                <label class="sr-only" for="username">Username:</label>
                <input class="form-control" placeholder="Username" type="text" id="username" name="username"
                       required></br>
            </p>
            <p>
                <label class="sr-only" for="password">Password:</label>
                <input class="form-control" placeholder="Password" type="password" id="password" name="password"
                       required></br>
            </p>

            <div th:if="${hasError}" class="error">
                <div class="text-danger" th:text="${param.error}"></div>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        </form>
        <a href="/register" class="btn btn-block btn-light">Register here</a>
    </div>
</th:block>