<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body>
<form th:method="POST" th:action="@{/login}">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username"></br>
  <label for="password">Password:</label>
  <input type="password" id="password" name="password"></br>

    <div th:if="${hasError}" class="error">
        <div th:text="${error}"></div>
    </div>

  <input type="submit" th:value="Submit">
</form>
</body>
</html>